{% extends 'blog/base_full_width.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Edit Post - Blog{% endblock %}

{% block main_area %}
<h1>Edit Post</h1>
<hr/>
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <!-- 사용자가 기록한 값을 서버로 보내는 용도, 첨부파일과 함께 post방식으로 전송, csrf 공격 보안 의미-->

    {{ form | crispy }}
    <div id="div_id_tags_str">
        <label for="id_tags_str">Tags:</label>
        <input type="text" name="tags_str" id="id_tags_str" class="textinput textInput form-control"
               value="{{ tags_str_default }}">    <!-- 수정페이지 열면 기존 태그가 자동으로 입력되도록 value 지정-->
    </div>
    <br/>
    <button type="submit" class="btn btn-primary float-right">Submit</button>
</form>
{{ form.media }}
{% endblock %}